* {
  box-sizing: border-box;
}
.header {
  text-align: center;
}

input#arraySize {
  width: 10vh;
}

input#arraySize::-webkit-outer-spin-button,
input#arraySize::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Chrome, Safari, Edge */
  margin: 0;
}

.element-merge {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #f2f2f2;
  border: 2px solid #333;

  font-weight: bold;
}


.container-merge-sort {
  text-align: center;
}

.status {
  padding-bottom: 2vh;
}

.merge-sort-split-mainparent {
  display: flex;
  gap: 12px;
  padding: 10px 16px;
  border: 2px solid #444;
  border-radius: 6px;
}


.element-merge-subparent-separator {
  border-left: 2px solid black;
  margin: 0 5px;
  align-self: stretch;
}


.element-merge-subparent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
  position: relative;
}

.element-split-subparent-child {
  display: flex;
}


.element-split-subparent-left,
.element-split-subparent-right {
  display: flex;
  gap: 8px;
  padding: 8px;
  border: 1px dashed #999;
  border-radius: 6px;
  width: 100%;
}


.merge-sort-split {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
