.header {
  text-align: center;
}

input#arraySize {
  width: 10vh;
}

input#arraySize::-webkit-outer-spin-button,
input#arraySize::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Chrome, Safari, Edge */
  margin: 0;
}

.element-merge {
  background-color: lightblue;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  color: darkblue;
  text-align: center;
  width: 100%;
  transition: transform 0.5s;
}

.container-merge-sort {
  text-align: center;
}

.status {
  padding-bottom: 2vh;
}

.merge-sort-split-mainparent {
  display: flex;
  justify-content: space-evenly;
}

.element-merge-subparent-separator {
  border-left: 2px solid black;
  margin: 0 5px;
  align-self: stretch;
}


.element-merge-subparent {
  display: flex;
  align-items: center;
}

.element-split-subparent-left, .element-split-subparent-right {
  display: flex;
  justify-content: center;
  width: 50%;
}

